In [15]:
import pandas as pd
import numpy as np

In [16]:
# df =  pd.read_csv('C:\Users\tylri\OneDrive\Desktop\big_data_project\Network\Network.csv')
#df = pd.read_csv(r'Network/Network.csv')
df = pd.read_csv('/Users/jd/UNI/BigData/HealthInsurance_Recommender/Network/Network.csv')

In [17]:
df.head()

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,StateCode2,NetworkName,NetworkId,NetworkURL,RowNumber,MarketCoverage,DentalOnlyPlan
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,AK,ODS Premier,AKN001,https://www.modahealth.com/ProviderSearch/face...,13,NaN,NaN
1,2014,AK,38344,HIOS,6,2013-08-28 08:15:53,38344,AK,HeritagePlus,AKN001,https://www.premera.com/wa/visitor/,13,NaN,NaN
2,2014,AK,38536,HIOS,2,2013-08-01 12:48:00,38536,AK,Lincoln Dental Connect,AKN001,http://lfg.go2dental.com/member/dental_search/...,13,NaN,NaN
3,2014,AK,42507,HIOS,3,2013-09-02 11:39:25,42507,AK,DentalGuard Preferred,AKN001,https://www.guardiananytime.com/fpapp/FPWeb/de...,13,NaN,NaN
4,2014,AK,73836,HIOS,6,2014-04-18 11:49:29,73836,AK,Moda Plus AK Regional,AKN001,https://www.modahealth.com/ProviderSearch/face...,13,NaN,NaN

In [18]:
df.isnull().sum()

BusinessYear         0
StateCode            0
IssuerId             0
SourceName           0
VersionNum           0
ImportDate           0
IssuerId2            0
StateCode2           0
NetworkName          0
NetworkId            0
NetworkURL           0
RowNumber            0
MarketCoverage    1955
DentalOnlyPlan    1955
dtype: int64

In [19]:
df = df.fillna(np.nan)

In [40]:
df.head()

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,StateCode2,NetworkName,NetworkId,NetworkURL,RowNumber,MarketCoverage,DentalOnlyPlan
259,2014,IL,36096,SERFF,10,2014-01-22 11:51:12,36096,IL,PPO,ILN001,https://public.hcsc.net/providerfinder/search....,13,Individual,False
260,2014,IL,36096,SERFF,10,2014-01-22 11:51:12,36096,IL,Blue Choice PPO,ILN002,https://public.hcsc.net/providerfinder/search....,14,SHOP (Small Group),False
261,2014,IL,36096,SERFF,10,2014-01-22 11:51:12,36096,IL,Blue Choice PPO,ILN002,https://public.hcsc.net/providerfinder/search....,14,Individual,False
262,2014,IL,36096,SERFF,10,2014-01-22 11:51:12,36096,IL,Blue Precision HMO,ILN003,https://public.hcsc.net/providerfinder/search....,15,SHOP (Small Group),False
263,2014,IL,36096,SERFF,10,2014-01-22 11:51:12,36096,IL,Blue Precision HMO,ILN003,https://public.hcsc.net/providerfinder/search....,15,Individual,False

In [41]:
df.isnull().sum()

BusinessYear      0
StateCode         0
IssuerId          0
SourceName        0
VersionNum        0
ImportDate        0
IssuerId2         0
StateCode2        0
NetworkName       0
NetworkId         0
NetworkURL        0
RowNumber         0
MarketCoverage    0
DentalOnlyPlan    0
dtype: int64

In [42]:
df.describe().T
df.isnull().values.any()
df.duplicated().sum()

0

In [43]:
df['BusinessYear'].value_counts()

BusinessYear
2015    713
2016    711
2014    443
Name: count, dtype: int64

In [44]:
numeric_df = df.select_dtypes(include=[np.number])
numeric_df.corr()

              BusinessYear  IssuerId  VersionNum  IssuerId2  RowNumber
BusinessYear      1.000000 -0.013209    0.084989  -0.013209   0.032285
IssuerId         -0.013209  1.000000   -0.038749   1.000000  -0.007074
VersionNum        0.084989 -0.038749    1.000000  -0.038749   0.191272
IssuerId2        -0.013209  1.000000   -0.038749   1.000000  -0.007074
RowNumber         0.032285 -0.007074    0.191272  -0.007074   1.000000

In [45]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
BusinessYear,1867.0,2015.143546,0.773187,2014.0,2015.0,2015.0,2016.0,2016.0
IssuerId,1867.0,53133.627209,26806.129335,10046.0,29678.0,52664.0,75605.0,99969.0
VersionNum,1867.0,5.863417,3.617731,1.0,3.0,5.0,8.0,24.0
IssuerId2,1867.0,53133.627209,26806.129335,10046.0,29678.0,52664.0,75605.0,99969.0
RowNumber,1867.0,13.715051,1.532150,13.0,13.0,13.0,14.0,26.0

In [46]:
df['StateCode'].value_counts()

StateCode
IL    206
OH    202
MI    195
VA    178
IA    105
KS    102
OR     86
NE     83
MT     79
ME     75
NH     74
UT     62
NV     60
SD     59
AR     58
DE     58
WV     54
NM     37
ID     25
PA     18
HI     11
AK      6
SC      4
GA      4
IN      4
WI      4
LA      3
MO      3
OK      3
TX      3
TN      3
NC      2
AL      1
Name: count, dtype: int64

In [47]:
df['MarketCoverage'].value_counts()

MarketCoverage
Individual            1030
SHOP (Small Group)     837
Name: count, dtype: int64

In [48]:
df = df.dropna(subset=['MarketCoverage'])

In [49]:
print(df["DentalOnlyPlan"].describe())

count      1867
unique        2
top       False
freq        961
Name: DentalOnlyPlan, dtype: object

In [37]:
# df = df.dropna(subset=['DentalOnlyPlan'])

In [50]:
# df['DentalOnlyPlan'].isnull().sum()
null_count = df['DentalOnlyPlan'].isnull().sum()
print("Null count in DentalOnlyPlan column:", null_count)

Null count in DentalOnlyPlan column: 0

In [51]:
# df['DentalOnlyPlan'] = df['DentalOnlyPlan'].replace({'Yes': True, 'No': False})
df.loc[:, 'DentalOnlyPlan'] = df['DentalOnlyPlan'].replace({'Yes': True, 'No': False})

In [ ]:
# median_value = df['DentalOnlyPlan'].median()
# df['DentalOnlyPlan'].fillna(median_value, inplace=True)
# median_value = df['DentalOnlyPlan'].median()
# df.loc[:, 'DentalOnlyPlan'] = df['DentalOnlyPlan'].fillna(median_value)

In [52]:
cleaned_file_path = 'Network_cleaned.csv'
df.to_csv(cleaned_file_path, index=False)

# Load the cleaned data from the new CSV file to verify
df_cleaned = pd.read_csv(cleaned_file_path)
print(df_cleaned.head())

   BusinessYear StateCode  IssuerId SourceName  VersionNum  \
0          2014        IL     36096      SERFF          10
1          2014        IL     36096      SERFF          10
2          2014        IL     36096      SERFF          10
3          2014        IL     36096      SERFF          10
4          2014        IL     36096      SERFF          10

            ImportDate  IssuerId2 StateCode2         NetworkName NetworkId  \
0  2014-01-22 11:51:12      36096         IL                 PPO    ILN001
1  2014-01-22 11:51:12      36096         IL     Blue Choice PPO    ILN002
2  2014-01-22 11:51:12      36096         IL     Blue Choice PPO    ILN002
3  2014-01-22 11:51:12      36096         IL  Blue Precision HMO    ILN003
4  2014-01-22 11:51:12      36096         IL  Blue Precision HMO    ILN003

                                          NetworkURL  RowNumber  \
0  https://public.hcsc.net/providerfinder/search....         13
1  https://public.hcsc.net/providerfinder/search....         14
2  https://public.hcsc.net/providerfinder/search....         14
3  https://public.hcsc.net/providerfinder/search....         15
4  https://public.hcsc.net/providerfinder/search....         15

       MarketCoverage  DentalOnlyPlan
0          Individual           False
1  SHOP (Small Group)           False
2          Individual           False
3  SHOP (Small Group)           False
4          Individual           False