In [1]:
import pandas as pd
import numpy as np

In [3]:
# df =  pd.read_csv('C:\Users\tylri\OneDrive\Desktop\big_data_project\BusinessRules\BusinessRules.csv')
df = pd.read_csv(r'C:\Users\tylri\OneDrive\Desktop\big_data_project\BusinessRules\BusinessRules.csv')

In [4]:
df.head()
df.isnull().sum()
df = df.fillna(np.nan)
df.isnull().sum()

BusinessYear                                0
StateCode                                   0
IssuerId                                    0
SourceName                                  0
VersionNum                                  0
ImportDate                                  0
IssuerId2                                   0
TIN                                         0
ProductId                                1683
StandardComponentId                      1012
EnrolleeContractRateDeterminationRule     247
TwoParentFamilyMaxDependentsRule          539
SingleParentFamilyMaxDependentsRule       539
DependentMaximumAgRule                    183
ChildrenOnlyContractMaxChildrenRule       669
DomesticPartnerAsSpouseIndicator          510
SameSexPartnerAsSpouseIndicator           510
AgeDeterminationRule                      411
MinimumTobaccoFreeMonthsRule              404
CohabitationRule                          355
RowNumber                                   0
MarketCoverage                           1208
DentalOnlyPlan                           1208
dtype: int64

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
BusinessYear,21085.0,2015.321745,0.646315,2014.0,2015.0,2015.0,2016.0,2016.0
IssuerId,21085.0,52857.554517,26097.535028,10046.0,31609.0,49046.0,76526.0,99969.0
VersionNum,21085.0,6.791036,4.092377,1.0,4.0,6.0,8.0,24.0
IssuerId2,21085.0,52857.554517,26097.535028,10046.0,31609.0,49046.0,76526.0,99969.0
RowNumber,21085.0,11.050036,2.863195,10.0,10.0,10.0,11.0,49.0

In [6]:
df.isnull().values.any()

True

In [7]:
df.duplicated().sum()

0

In [8]:
df['BusinessYear'].value_counts()

BusinessYear
2015    10095
2016     8887
2014     2103
Name: count, dtype: int64

In [9]:
df['ProductId'].value_counts()

ProductId
33602TX047    312
33602TX046    312
84670WI125    138
84670WI135    113
84670WI133    113
             ...
84966SC014      1
84966SC015      1
19312TX002      1
26250TX006      1
75441WV002      1
Name: count, Length: 3034, dtype: int64

In [11]:
# df['ProductId'].fillna(0, inplace=True)
df['ProductId'] = df['ProductId'].fillna(0)

In [12]:
df['StandardComponentId'].value_counts()

StandardComponentId
11083MI0100001    4
72006VA0160001    4
82285AL0010006    3
87571OK0390002    3
42757UT0020003    3
                 ..
84670WI1250012    1
84670WI1250014    1
84670WI1250020    1
84670WI1250021    1
96480WV0110003    1
Name: count, Length: 14189, dtype: int64

In [14]:
# df['StandardComponentId'].fillna(0, inplace=True)
df['StandardComponentId'] = df['StandardComponentId'].fillna(0)

In [15]:
df.dropna(subset=['TwoParentFamilyMaxDependentsRule'], inplace=True)

In [16]:
df.dropna(subset=['ChildrenOnlyContractMaxChildrenRule'], inplace=True)

In [17]:
df.dropna(subset=['MarketCoverage'], inplace=True)

In [18]:
df['DentalOnlyPlan'].isnull().values.any()

False

In [20]:
# df['DentalOnlyPlan'] = df['DentalOnlyPlan'].replace({'Yes': True, 'No': False})
df['DentalOnlyPlan'] = df['DentalOnlyPlan'].replace({'Yes': True, 'No': False}).infer_objects(copy=False)

In [23]:
# median_value = df['DentalOnlyPlan'].median()
# df['DentalOnlyPlan'].fillna(median_value, inplace=True)
median_value = df['DentalOnlyPlan'].median()
df['DentalOnlyPlan'] = df['DentalOnlyPlan'].fillna(median_value)

In [24]:
cleaned_file_path = 'BusinessRules_cleaned.csv'
df.to_csv(cleaned_file_path, index=False)

# Load the cleaned data from the new CSV file to verify
df_cleaned = pd.read_csv(cleaned_file_path)
print(df_cleaned.head())

   BusinessYear StateCode  IssuerId SourceName  VersionNum  \
0          2014        AR     60559      SERFF          10
1          2014        AR     60559      SERFF          10
2          2014        AR     60559      SERFF          10
3          2014        AR     60559      SERFF          10
4          2014        AR     60559      SERFF          10

            ImportDate  IssuerId2         TIN ProductId StandardComponentId  \
0  2014-01-23 12:49:01      60559  75-1233841         0      60559AR0010002
1  2014-01-23 12:49:01      60559  75-1233841         0      60559AR0010003
2  2014-01-23 12:49:01      60559  75-1233841         0      60559AR0020003
3  2014-01-23 12:49:01      60559  75-1233841         0      60559AR0010004
4  2014-01-23 12:49:01      60559  75-1233841         0      60559AR0020004

   ... DependentMaximumAgRule ChildrenOnlyContractMaxChildrenRule  \
0  ...         Not Applicable                           3 or more
1  ...         Not Applicable                           3 or more
2  ...         Not Applicable                           3 or more
3  ...         Not Applicable                           3 or more
4  ...         Not Applicable                           3 or more

  DomesticPartnerAsSpouseIndicator SameSexPartnerAsSpouseIndicator  \
0                              Yes                             Yes
1                              Yes                             Yes
2                              Yes                             Yes
3                              Yes                             Yes
4                              Yes                             Yes

    AgeDeterminationRule MinimumTobaccoFreeMonthsRule  \
0  Age on effective date               Not Applicable
1  Age on effective date               Not Applicable
2  Age on effective date               Not Applicable
3  Age on effective date               Not Applicable
4  Age on effective date               Not Applicable

                                    CohabitationRule RowNumber  \
0  Spouse,No;Adopted Child,No;Foster Child,No;War...        12
1  Adopted Child,Yes;Foster Child,Yes;Stepson or ...        13
2  Adopted Child,Yes;Foster Child,Yes;Stepson or ...        13
3  Spouse,No;Adopted Child,No;Foster Child,No;War...        14
4  Spouse,No;Adopted Child,No;Foster Child,No;War...        14

       MarketCoverage DentalOnlyPlan
0          Individual           True
1          Individual           True
2  SHOP (Small Group)           True
3          Individual           True
4  SHOP (Small Group)           True

[5 rows x 23 columns]