In [2]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

In [3]:
rate_fields = ['StateCode','PlanId','IndividualRate','PrimarySubscriberAndThreeOrMoreDependents','BusinessYear','Age','RatingAreaId','Tobacco','SourceName']
rate_chunks = pd.read_csv("/Users/muskan/Downloads/big_data_project-aman/Rate CSV Data Explolartion/Rate.csv",iterator=True,chunksize = 1000, usecols=rate_fields)
rates_2= pd.concat(chunk for chunk in rate_chunks)

In [4]:
rates_2.head(5)

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,0-20,29.00,NaN
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,Family Option,36.95,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,Family Option,36.95,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,NaN
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,NaN

In [5]:
rates_2.columns

Index(['BusinessYear', 'StateCode', 'SourceName', 'PlanId', 'RatingAreaId',
       'Tobacco', 'Age', 'IndividualRate',
       'PrimarySubscriberAndThreeOrMoreDependents'],
      dtype='object')

In [6]:
df = rates_2
df['tobacco_rate'] = np.where(df['Tobacco']!= 'Tobacco User/Non-Tobacco User ',df['IndividualRate'],df['IndividualRate']*1.03)
df.head()

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,0-20,29.00,NaN,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,Family Option,36.95,107.61,36.95
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,Family Option,36.95,107.61,36.95
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,NaN,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,NaN,32.00

In [7]:
df['Age'] = np.where(df['Age']== 'Family Option',-5,df['Age']) # Family Plan = -5
df['Age'] = np.where(df['Age']== '0-20',10,df['Age'])  # Minor = 10 below 20 years of age
df['Age'] = np.where(df['Age']== '65 and over',100,df['Age'])  # Old age = 100 more than 65 years of age

In [8]:
df.head()

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,NaN,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,107.61,36.95
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,107.61,36.95
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,NaN,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,NaN,32.00

In [9]:
df.shape

(12694445, 10)

In [10]:
df['PrimarySubscriberAndThreeOrMoreDependents']=df['PrimarySubscriberAndThreeOrMoreDependents'].fillna(0)

In [11]:
df['tobacco_rate'] = np.where(df['PrimarySubscriberAndThreeOrMoreDependents']>0, df['PrimarySubscriberAndThreeOrMoreDependents'],df['tobacco_rate'])
df['PrimarySubscriberAndThreeOrMoreDependents'] = np.where(df['PrimarySubscriberAndThreeOrMoreDependents']>0, 1,df['PrimarySubscriberAndThreeOrMoreDependents'])
df

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,0.0,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,1.0,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,1.0,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,0.0,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,0.0,32.00
...,...,...,...,...,...,...,...,...,...,...
12694440,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,61,14.05,0.0,14.05
12694441,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,62,14.05,0.0,14.05
12694442,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,63,14.05,0.0,14.05
12694443,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,64,14.05,0.0,14.05
12694444,2016,WV,SERFF,96480WV0090003,Rating Area 11,No Preference,100,14.05,0.0,14.05

In [12]:
df.Age = df.Age.astype(int)

In [13]:
profile_final = ProfileReport(df,title = "Profiling Report_Rates_CSV", explorative = True)

profile_final.to_file("output_cleaned_final.html")

Summarize dataset:  71%|███████   | 12/17 [01:17<00:17,  3.45s/it, Calculate auto correlation]                                /Users/muskan/Library/Python/3.9/lib/python/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'HIOS'')
  warnings.warn(
Summarize dataset: 100%|██████████| 28/28 [02:24<00:00,  5.16s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.68s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.30it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 268.52it/s]

In [14]:
filtered_df = df[df['Tobacco'] == 'Tobacco User/Non-Tobacco User']

# create a copy of the filtered dataframe
new_df = filtered_df.copy()
new_df2 = filtered_df.copy()
# change the value in the Tobacco column to 'Tobacco User' for the first half of the rows
new_df.loc[new_df.index[:len(filtered_df)], 'Tobacco'] = 'Tobacco User'

# change the value in the Tobacco column to 'Non-Tobacco User' for the second half of the rows
new_df2.loc[new_df.index[:len(filtered_df)], 'Tobacco'] = 'Non-Tobacco User'

# replace the tobacco_rate column value with the IndividualRate value for the 'Non-Tobacco User' rows
new_df2.loc[new_df['Tobacco'] == 'Non-Tobacco User', 'tobacco_rate'] = new_df2.loc[new_df['Tobacco'] == 'Non-Tobacco User', 'IndividualRate']

# concatenate the original dataframe with the modified filtered dataframe
ff = pd.concat([new_df,new_df2])
final_df = pd.concat([df[df['Tobacco'] != 'Tobacco User/Non-Tobacco User'], ff])

# reset the index
final_df = final_df.reset_index(drop=True)

final_df

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,0.0,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,1.0,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,1.0,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,0.0,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,0.0,32.00
...,...,...,...,...,...,...,...,...,...,...
17584562,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,61,702.16,0.0,702.16
17584563,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,62,717.91,0.0,717.91
17584564,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,63,737.65,0.0,737.65
17584565,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,64,749.64,0.0,749.64
17584566,2016,WV,SERFF,50328WV0020018,Rating Area 11,Non-Tobacco User,100,749.64,0.0,749.64

In [15]:
final_df.to_csv('clean_2.csv')

In [16]:
final_df.head()

,BusinessYear,StateCode,SourceName,PlanId,RatingAreaId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,10,29.00,0.0,29.00
1,2014,AK,HIOS,21989AK0020001,Rating Area 1,No Preference,-5,36.95,1.0,107.61
2,2014,AK,HIOS,21989AK0020001,Rating Area 2,No Preference,-5,36.95,1.0,107.61
3,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,21,32.00,0.0,32.00
4,2014,AK,HIOS,21989AK0010001,Rating Area 1,No Preference,22,32.00,0.0,32.00

In [17]:
final_df = final_df[final_df["BusinessYear"]==2014]
final_df.drop(columns=["BusinessYear"],inplace=True)
final_df.dropna(inplace=True)
final_df.drop(columns=["RatingAreaId"],inplace=True)
final_df.drop_duplicates()
final_df.to_csv('clean_alternate.csv')

/var/folders/p4/khjst3010tv66qh2hgqg4thh0000gn/T/ipykernel_95952/3698833105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=["BusinessYear"],inplace=True)
/var/folders/p4/khjst3010tv66qh2hgqg4thh0000gn/T/ipykernel_95952/3698833105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)
/var/folders/p4/khjst3010tv66qh2hgqg4thh0000gn/T/ipykernel_95952/3698833105.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=["RatingAreaId"],inplace=True)

In [18]:
final_df.drop_duplicates(inplace=True)
final_df.head()

/var/folders/p4/khjst3010tv66qh2hgqg4thh0000gn/T/ipykernel_95952/4262910461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop_duplicates(inplace=True)

,StateCode,SourceName,PlanId,Tobacco,Age,IndividualRate,PrimarySubscriberAndThreeOrMoreDependents,tobacco_rate
0,AK,HIOS,21989AK0010001,No Preference,10,29.00,0.0,29.00
1,AK,HIOS,21989AK0020001,No Preference,-5,36.95,1.0,107.61
3,AK,HIOS,21989AK0010001,No Preference,21,32.00,0.0,32.00
4,AK,HIOS,21989AK0010001,No Preference,22,32.00,0.0,32.00
6,AK,HIOS,21989AK0020002,No Preference,-5,32.45,1.0,94.50

In [19]:
final_df.shape[0]

3045596

In [20]:
final_df.to_csv('clean_alternate.csv')